<section id="profile">

  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">

      <div class="row">
        <div class="col-12 col-md-6">
          <span class="section-title">
            <mat-icon>account_box</mat-icon>Account information</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <span class="text-label">Firstname:</span>
          <span> {{user.firstName}}</span>
        </div>

        <div class="col-12 col-md-6">
          <span class="text-label">Lastname:</span>
          <span>{{user.lastName}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <span class="text-label">Email:</span>
          <span>{{user.email}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <span class="section-title">
            <mat-icon>schedule</mat-icon>Work schedule</span>
        </div>
      </div>

      <div class="row" *ngFor="let day of weekDays">
        <div class="col-3 col-md-3">
          {{day.label}}
        </div>
        <div class="col-2 col-md-2">
          <mat-checkbox [disabled]=true class="work-day-checkbox" name="workday" [ngModel]="day.checked"></mat-checkbox>
        </div>
      </div>

      <div class="row actions-buttons">
        <div class="col-12 col-md-12">
          <button mat-raised-button color="warn" [routerLink]="['/users']">Back</button>
          <button mat-raised-button color="primary">Edit</button>
        </div>
      </div>

    </div>
  </div>
</section>
